<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <div class="wrapper">
            <div class="start-screen">
                {{ partial "start-screen.svg" . }}
            </div>

            <div id="scroll-down" class="timeline-container">
            {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
            {{ range $paginator.Pages }}
                <div class="timeline-post">
                    <div class="publish-date">
                        </br></br><h3>{{ .Date.Format "02" }}</h3></br>{{ .Date.Format "January" | upper }}
                    </div>

                    <div class="timeline-post-body">
                            <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
                        <div class="timeline-post-description">
                            <p>
                                {{ .Summary }}
                            </p>
                            {{ if .Truncated }}<a href="{{ .Permalink }}"><p class="timeline-post-read-more"><a href="{{ .Permalink }}">Read more &rarr;</a></p>{{ end }}
                        </div> 
                    </div>
                </div>
            {{ end }}
            {{ template "_internal/pagination.html" . }}
                
                <div class="mustage">
                    PREV | NEXT
                </div>
            </div>
            {{ partial "footer.html" . }}
        </div>
    </body>
</html>