<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <div class="start-screen">
            


        {{ partial "main.svg" . }}



        </div>

        <div class="timeline-container">

            <table class="timeline-post">
                <th class="timeline-post-publish-date">
                    27. DEC
                </th>
                <th class="timeline-post-body">
                    <div class="timeline-post-title">
                        HEADLINE
                    </div>
                    <div class="timeline-post-description">
                        DESCRIPTION
                    </div> 
                </th>                           
            </table>

            <table class="timeline-post">
                <th class="timeline-post-publish-date">
                    27. DEC
                </th>
                <th class="timeline-post-body">
                    <div class="timeline-post-title">
                        HEADLINE
                    </div>
                    <div class="timeline-post-description">
                        DESCRIPTION
                    </div> 
                </th>                           
            </table>   

        </div>

    </body>
</html>