@import url(https://fonts.googleapis.com/css?family=Open+Sans|Fontdiner+Swanky|Lato);

/* Homepage classes */
.start-screen {
  display: block;
  width: 98vw;
  height: 96vh;
  min-height: 400px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

#svg-title {
	text-align: center;
	font-size: 140px;
	font-weight: bold;
	word-spacing: 0;
	letter-spacing: 0;
	fill: #000000; 
	text-anchor: middle;
	y: 860.8;
	x: 2140.7;
}

#svg-comment {
	text-align: center;
	font-size: 80px;
	word-spacing: 0;
	letter-spacing: 0;
	fill: #000000; 
	text-anchor: middle;
	y: 1424.4;
	x: 2114.7;
}

.timeline-container {
	max-width: 900px;
	position: relative;
	padding-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 200px;
}

.timeline-post {
	width: 100%;
	height: auto;
	margin-bottom: 90px;
}

.timeline-post-read-more {
	line-height: 0.5em;
}

.timeline-post-read-more a {
	text-decoration: underline !important;
}

.timeline-post h3 {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

.timeline-post a {
    text-decoration: none;
}

.timeline-post p {
	vertical-align: top;
	text-align: left;
	text-align: justify;
	font-size: 1.2em;
	margin-top: 10px;
}

@media only screen and (orientation: portrait) {
	.start-screen {
		min-height: 200px;
		width: 100vw;
		height: 66vw;
	}
}

@media only screen and (min-aspect-ratio: 16/9) {
  .start-screen {
		width: 93vw;
		height: 98vh;
	}
}

/* Single page classes */

.article-header-container {
	height: 140px; 
	margin-top: 35px;
	background-color: #4cabab;
	box-shadow: 0 1px 5px black inset;
}

.article-header {
	max-width: 900px;
	display: flex;  
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
	color: white;
}

.article-header h1 {
  font-weight: lighter;
  font-size: 3.25em;
}

.article-body {
	max-width: 900px;
	position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.2em;
    text-align: justify;
    padding-bottom: 200px;
}

.article-meta-inf {
	max-width: 900px;
	padding-top: 10px;
	padding-left: 25px;
    padding-right: 25px;
	position: relative;
    margin-left: auto;
    margin-right: auto;
    color: gray;
}

.article-meta-inf a {
	color: inherit;
	text-decoration: none;
}

.top-nav {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
	height: 35px;
	width: 100%;
	top: 0px;
	background-color: #333;
	z-index: 99;
	opacity: 0.95;
}

.top-nav * {
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}

.top-nav a {
	text-decoration: none;
}

.top-nav h3 {
	font-weight: lighter;
}

.top-nav img {
	margin-right: -5px;
	height: 80%;
}

.side-nav {
	display: none;
	visibility: hidden;
	position: fixed;
    align-items: center;
    justify-content: center;
	right: 0px;
	top: 20%;
	width: 120px;
	height: 550px;
	text-align: right;
}

@media only screen and (min-width: 1080px) and (min-height: 720px) {
	.top-nav {
		display: none;
		visibility: hidden;
	}

	.article-header-container {
		margin-top: 0px;
	}

	.side-nav {
		display: flex;
		visibility: visible;
	}

}

/* General classes */

html, body {
  height: 100%;
  background-color: #EFFFFF;
  font-family: "Open Sans", Helvetica, sans-serif;
}

a {
	color: black;
}

a:hover {
	color: #ff7400;
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.publish-date {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: #333;
	text-align: center;
	line-height: 1em;
	color: #DBEFED;
	float: left;
	margin-top: -18px;
	margin-right: 20px;
}

.publish-date h3 {
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 2.5em;
  font-weight: lighter;
  margin-bottom: 0.1em;
}

.mustage {
	display: flex;
    align-items: center;
    justify-content: center;
	height: 200px;
	margin-top: -50px;
	padding-bottom: 50px;
}

.footer-container {
	position: absolute;
    bottom: 0px;
    width: 100%;
	height: 140px;
	box-shadow: 0 1px 5px black inset;
	background-color: #4cabab;
}

.footer {
    position: relative;
	display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    height: inherit;
	color: #DBEFED;
	font-size: 24px;
}

.footer img  {
	height: 120px;
	width: 120px;
	margin-top: 10px;
}

.footer p {
	margin: 0 0 0 12px;
}

.footer a {
	color: inherit;
	text-decoration: none;
}