body {
  min-height: 600px;
  min-width: 800px;
  background-color: #DBEFED;
}

h3 {
 font-size: 1.5em;
}

.start-screen {
  display: block;
  width: auto;
  min-height: 600px;
  height: 95vh;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.timeline-container {
	position: relative;
	padding-top: 15vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

.timeline-post {
	min-width: 800px;
	width: 100%;
	height: 120px;
	margin-bottom: 40px;
    outline: 1px dotted #333;
}

.timeline-post-publish-date {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: #333;
	text-align: center;
}

.timeline-post-body {
	padding-left: 60px;
	vertical-align: top;
	text-align: left;
	font-size: 0.7em;
}

.timeline-post-description {
	color: #333;
}


@media only screen and (orientation: portrait) {
	.start-screen {
		width: 150vw;
		height: auto;
	}
}